.form_field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    align-items: center;
}

.input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}
.success_message {
    color: green;
    text-align: center;
    margin-top: 1rem;
}